= form_for(@blog, method: "PATCH") do |f|
  .form
    .form__title  
      = f.label "タイトル", for: "blog_title", class: "form__title__label"
      = f.text_field :title, class: "form__title__input"
    .form__text
      = f.label "本文", for: "blog_text", class: "form__text__label"
      = f.text_area :text, class: "form__text__input"
    = f.submit "更新", class: "form__text__submit"