.blog
  %p.blog__title
    = @blog.title
  %p.blog__info
    = "#{@blog.created_at.strftime("%Y/%m/%d %H:%M")} #{@blog.user.nickname}"
  %p.blog__text
    = safe_join(@blog.text.split("\n"), tag(:br))
    .blog__links
      =link_to root_path, class: "blog__links__btn" do
        トップページに戻る
      - if current_user != nil && @blog.user.id == current_user.id
        =link_to "/", class: "blog__links__btn" do
          編集
        =link_to "/", class: "blog__links__btn" do
          削除
      